<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/style.css">

<head>

<body>
    <!-- Container -->
    <div class="container">
        <div id="colspan">
            <img src="static/images/FOTO.jpEg">
            <h4 class="nama"> Muhamad Rokhul Affan</h4>
            <p><i class="fa fa-briefcase fa-fw large"></i> Calon Developer Muda</p>
            <p><i class="fa fa-home fa-fw large"></i>Universitas Muria Kudus</p>
            <p><i class="fa fa-phone fa-fw large"></i>081325004545</p>
            <hr>
            <h3><i class="fa fa-linux fa-fw large"></i>Skills</h3>
            <p>Modif Keyboard</p>
            <div class="load">
                <div class="progress" style="width:90%">90%</div>
            </div>
            <p>Mengetik Cepat</p>
            <div class="load2">
                <div class="progress2" style="width:10%">10%</div>
            </div>
            <hr>
            <h3><i class="fa fa-language fa-fw large"></i>Bahasa</h3>
            <p>Jawa</p>
            <hr>
            <h3><i class="fa fa-globe fa-fw large"></i>Social Media</h3>
            <a href="https://instagram.com/rokhudev"><i
                    class="fa fa-instagram fa-fw large"></i></a>
        </div>
        <div class="container-padding">
            <div class="padding">
                <div class="content1">
                    <h2><i class="fa fa-briefcase fa-fw large"></i>Jenjang Pendidikan</h2>
                    <h3>SDN 4 Jati Wetan</h3>
                    <p><i class="fa fa-calendar fa-fw large"></i>2008</p>
                    </p>
                </div>
                <hr>
                <div class="content2">
                    <h3>SMPN 2 Jati</h3>
                    <p><i class="fa fa-calendar fa-fw large"></i>2017</p>
                    </p>
                </div>
                <hr>
                <div class="content3">
                    <h3>SMAN 1 Kudus</h3>
                    <p><i class="fa fa-calendar fa-fw large"></i>2020</p>
                    <div class="content4">
                        <h3>Teknik Informatika - Universitas Muria Kudus</h3>
                        <p><i class="fa fa-calendar fa-fw large"></i>2024</p>
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="padding">
                <div class="bottom">
                    <div class="content1">
                        <h2><i class="fa fa-briefcase fa-fw large"></i>Pengalaman :</h2>
                        <p><i class="fa fa-calendar fa-fw large"></i>Ketua Bagian Penanggulangan dan Bencana Alama - Karang Taruna Jati Wetan</p>
                        <p><i class="fa fa-calendar fa-fw large"></i>Ketua Acara Pengabdian Masyarakat di SDN 4 Jati Wetan - 2022</p>
                        <p><i class="fa fa-calendar fa-fw large"></i>Kepala Toko di Studio Surya Foto - Kerja 3 bulan </p>
                    </div>
                    <hr>
                    <div class="content2">
                        <h3>Prestasi</h3>
                        <p><i class="fa fa-calendar fa-fw large"></i>Mengedit Foto di Studio Foto sebanyak 2000 foto sehari - 2022</p>
                        <p><i class="fa fa-calendar fa-fw large"></i>Berkontribusi dalam pengabdian masayarakat dalam acara Karang taruna Jati</p>
                        <p><i class="fa fa-calendar fa-fw large"></i>Top Provinsi Jawa Tengah Hylos - 2020</p>
                        <p><i class="fa fa-calendar fa-fw large"></i>Top Provinsi Jawa Tengah Hilda - 2023</p>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>